@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.Measures.IndexModel

@{
    Layout = "_Index"; @*kasutab templateks _index lehe*@
    var page = "/Quantity/Measures";
}

@section Create{
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))
}

<body>

    <table class="table">@*tabel*@
        <thead>@*tabeli päis*@
                @Html.TableHeaderFor(
                    new Link(Html.DisplayNameFor(model => model.Item.Id), $"{page}?SortOrder={Model.IdSort}"),
                       new Link(Html.DisplayNameFor(model => model.Item.Name), $"{page}?SortOrder={Model.NameSort}"),
                       new Link(Html.DisplayNameFor(model => model.Item.Code), $"{page}?SortOrder={Model.CodeSort}"),
                       new Link(Html.DisplayNameFor(model => model.Item.Definition), $"{page}?SortOrder={Model.DefinitionSort}"),
                       new Link(Html.DisplayNameFor(model => model.Item.ValidFrom), $"{page}?SortOrder={Model.ValidFromSort}"),
                       new Link(Html.DisplayNameFor(model => model.Item.ValidTo), $"{page}?SortOrder={Model.ValidToSort}")
                   )
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    @Html.TableRowFor(
                        page,
                        item.Id,
                        @Html.DisplayFor(modelItem => item.Id),
                        @Html.DisplayFor(modelItem => item.Name),
                        @Html.DisplayFor(modelItem => item.Code),
                        @Html.DisplayFor(modelItem => item.Definition),
                        @Html.DisplayFor(modelItem => item.ValidFrom),
                        @Html.DisplayFor(modelItem => item.ValidTo)
                        ) 
                </tr>
            }
        </tbody>
    </table>
</body>
